//ROOT
.Home {
    width:100%;
    height:705px;
    margin: 0;
    padding:0;

    background-image: url('https://www.tesla.com/sites/default/files/images/roadster/roadster-social.jpg');
    background-repeat: no-repeat;
}